<div class="container">
    <h2>User Data</h2>
                
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>mobileNo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of datas">
      <td>{{data.firstName}}</td>
      <td>{{data.lastName}}</td>
      <td>{{data.mobileNo}}</td>
      <td><button class="btn btn-danger" (click)="editUser(data)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>